html {
    height: 100%;
    margin: 0;
}

body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

nav .nav-link {
    /* border-top: 4px solid transparent;  */
    border-bottom: 4px solid transparent; 
}

nav .nav-link:hover {
    /* border-top: 4px solid #ffc107;  */
    border-bottom: 4px solid #ffc107;
}

.page-wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
}

.showcase {
    background-color: white;
    background: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
    min-height: 200px;
    opacity: 0.6;
    border: 2px solid black;
}

.container {
    position: relative;
    background: url("../images/sprinkles.png");
    /* background-color: beige; */
    margin: 0px;
    padding: 0px;
    max-width: 100%!important;
    min-height: calc(100vh - 300px);
}

.btn-lg {
    margin-top: 1px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.row {
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

footer p {
    color: lightgray;
    margin-top: 14px;
    margin-bottom: 0px;
    font-size: 0.95em;
}

  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #343a40!important;
    border: 0 none;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }